@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
  font: normal 400 14px/1.4 'Roboto', sans-serif;
  color: #4a4a4a;
}
*,*:before,*:after {
  box-sizing: inherit;
}

body {
  margin: auto;
}
