@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
  box-sizing: border-box;
  font: normal 400  14px/1.4 'Roboto', sans-serif;
  color: #343434;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
}
*,*:before,*:after {
  box-sizing:inherit
}

body {
  margin: auto;
}
